aside {
    background-color: $white;
    left: 0;
    height: 100%;
    overflow-x: hidden;
    padding-top: 60px;
    position: fixed;
    top: 0;
    transition: 0.5s;
    width: 25rem;
    z-index: 1;
}

.aside__avatar {
    display: block;
    border: 1px solid $off-white;
    border-radius: 50%;
    margin: 8rem auto 0 auto;
    width: $xxl-size;
}

.aside__logo {
    width: 100%;
    padding: 0 $xl-size;
}

.aside__nav {
    width: 24rem;
    margin: auto;
    i {
        margin: 0 $s-size;
    }
    &>* {
        display: block;
        font-size: $font-size-large;
        text-decoration: none;
        color: $dark-grey;
        margin: $s-size;
        padding: $s-size;
    }
}

.nav-active {
    background: $accent;
    border-radius: 10px;
    color: $white !important;
}

.aside__username {
    text-align: center;
    margin: $s-size 0 8rem 0;
    font-size: $font-size-large;
    font-weight: 600;
}

main {
    margin-left: 25rem;
    padding: $l-size;
}