.table {
    display: flex;
    flex-direction: column;
}

.table__row {
    align-items: center;
    background: $off-white;
    border-radius: 5px;
    display: flex;
    margin: $xs-size;
    padding: $s-size;
}

.table__row--header {
    font-weight: bold;
    text-transform: uppercase;
}

.table__cell {
    flex: 1 1 30%;
}

.table__cell--info {
    align-items: center;
    color: $dark-grey;
    display: flex;
    text-decoration: none;
}

.table__cell--small {
    flex: 0 0 10%;
    padding: $s-size;
    text-align: right;
}