.loader {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.loader>* {
  margin: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.spinner-wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh - 100px);
  justify-content: center;
}