.note {
    background: white;
    border: 1px solid $off-white;
    border-radius: 5px;
    margin: $s-size 0;
    padding: $s-size;
}

.note__action {
    opacity: 0;
    padding-left: $s-size;
    transition: all 0.3s ease-in-out;
}

.note__author {
    color: $grey;
    font-style: italic;
    margin-top: $s-size;
    span {
        font-weight: bold;
    }
}

.note__info {
    display: flex;
    justify-content: space-between;
    &:hover {
        .note__action {
            opacity: 1;
        }
    }
}