.profile {
    display: flex;
}

.profile>* {
    padding: $m-size
}

.profile-details {
    border-left: 1px solid $off-white;
}

.list__initials {
    &:first-letter {
        color: white;
        font-size: 16px;
    }
    margin-right: 12px;
    font-size: 0;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background: $accent;
    border-radius: 100px;
}

.list__icon {
    background: $accent;
    border-radius: 100px;
    color: white;
    height: 36px;
    line-height: 36px;
    margin-right: 12px;
    text-align: center;
    width: 36px;
}

.list__email {
    color: $grey;
    font-style: italic;
}