.logo-wrapper {
  text-align: center;
}

.logo-img {
  width: 100%;
  max-width: 200px;
  height: auto;
  margin: 3rem auto 2rem;
}

.nav-active * {
  color: $accent-secondary !important;
}

.link-disabled {
  color: $text-secondary !important;
  cursor: default;
  pointer-events: none;
}