.table-cell__svg {
  background: none;
  padding: 0.5rem;
  width: 35px;
}

.info-table__inline-button {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.info-table__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &:hover {
    .info-table__inline-button {
      opacity: 1;
    }
  }
}