.wizard__selection {
  display: flex;
  margin-top: 0.5rem;
}

.wizard__selection-item {
  flex: 1;
  margin: 1rem;
}

.wizard__button img {
  width: 100%;
  max-width: 100px;
  margin: 0.5rem 2rem;
}

.wizard__button {
  text-align: center;
  transition: all 0.3s ease-in-out;
  &:hover {
    background: darken($off-white, 5%);
    color: $accent;
  }
}

.wizard-dialog__icon-wrapper {
  line-height: 111px;
  text-align: center;
  font-size: 60px;
  vertical-align: middle;
  height: 116px;
  width: 116px;
  border-radius: 50%;
  color: #999999;
  margin: 0 auto 20px;
  border: 4px solid #CCCCCC;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.wizard-dialog__icon {
  width: 40px !important;
  height: 40px !important;
}

.wizard-dialog__icon-wrapper:hover {
  color: $accent;
  border-color: $accent;
}

.wizard-dialog__header {
  text-align: center;
  margin-bottom: 2rem !important;
}

.wizard-dialog__title {
  text-transform: uppercase;
}

#alert-dialog-title {
  text-align: center;
}

.wizard__text-field,
.wizard__select {
  width: 100%;
}

.wizard__radio {
  flex-direction: row !important;
}

.wizard__summary-item p {
  font-size: 1.1rem !important;
  color: $original !important;
}

.wizard__summary-item span {
  color: $grey !important;
}