* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background: $off-white;
    color: $dark-grey;
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: $s-size;
    line-height: 1.6;
    margin-bottom: $xl-size;
}

.link {
    cursor: pointer;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.is-active {
    font-weight: bold;
}