* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: $text-primary;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: $accent-secondary;
}

// html {
//   font-size: 62.5%;
// }
// body {
//     background: $light-grey;
//     color: $dark-grey;
//     font-family: 'Open Sans', Arial, sans-serif;
//     font-weight: 400;
//     font-size: $s-size;
//     line-height: 1.6;
// }